{{#if addNewQuestion}}
  <h2>New Question</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Author:</label>
        {{input value=name id="name" placeholder="your name"}}
      </div>

      <div class="form-group">
        <label for="content">Question:</label>
        {{input value=content id="content" placeholder="question here"}}
      </div>

      <div class="form-group">
        <label for="note">Notes:</label>
        {{input value=note id="note" placeholder="notes here"}}
      </div>

      <div class="form-group">
        <label for="point">Jeopardy Points:</label>
        {{input value=point id="point" placeholder="points here"}}
      </div>

      <hr>
      <button {{action 'save1'}} class="btn btn-info">Save</button>
      <hr>
    </form>
  </div>
{{else}}
  <hr>
  <button {{action 'questionFormShow'}} class="btn btn-info">New Question</button>
  <hr>
{{/if}}
