{{#if addNewQuestion}}
  <h1>New Question</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Author:</label>
        {{input value=name id="name"}}
      </div>

      <div class="form-group">
        <label for="content">Question:</label>
        {{input value=content id="content"}}
      </div>

      <div class="form-group">
        <label for="note">Notes:</label>
        {{input value=note id="note"}}
      </div>

      <button {{action 'save1'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'questionFormShow' class="btn btn-info"}}>New Question</button>
{{/if}}

<!-- In the display, we will set a property, addNewQuestion to true or false. When true, the form will show. When false, the button will show. -->
<!-- Ember provides the {{input}} helper for form inputs that allows us to pass in a number of attributes. In this example, we are using only the value and id attributes.

Our submit button has the save1 action attached to begin the process of saving the new rental added by a user. -->
