<!-- {{#if addNewAnswer}}
  <h1>New Answer</h1>
  <form>
    <div class="form-group">
      <label for="name"> Name:</label>
      {{input value=name id="name"}}
    </div>
    <div class="form-group">
      <label for="content">Answer:</label>
      {{input value=content id="content" }}
    </div>
    <button {{action 'saveAnswer'}}>Submit</button>
  </form>
{{else}}
  <button {{action 'answerFormShow'}}>New Answer</button>
{{/if}} -->
