{{#if updateQuestionForm}}
  <h4>Update {{question.name}}'s {{question.content}}</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="name">Author:</label>
        {{input value=name id="name" placeholder=question.name}}
      </div>

      <div class="form-group">
        <label for="content">Question:</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="note">Notes:</label>
        {{input value=note id="note" placeholder=question.note}}
      </div>

      <div class="form-group">
        <label for="point">Points:</label>
        {{input value=point id="point" placeholder=question.point}}
      </div>
      <hr>
      <button {{action 'update' question}} class="btn btn-info">Save</button>
    </form>
  </div>
{{else}}
<hr>
<button {{action 'updateQuestionForm'}} class="btn btn-info">Update</button>
{{/if}}
